<!--Info Part-->
<div class="container my-4">
    <div class="row">
        <div class="col-sm-12 col-md-4" style="border-right-style: solid; border-right-color: #58c9ef">
            <div class="text-center" style="background: white">
                <img class="img-thumbnail my-3" style="border-radius:10px" src="{{admin.imagepath}}" alt="avatar" width="200px">
                <div class="text-center mx-5 my-2" style=" border-style:solid; border-radius: 8px; background-color: white; border-color: #58c9ef; border-width: 1px ">
                    <div>Total transactions</div>
                    <div>{{totalTransactions}}</div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="container">
                <div class="row my-3">
                    <div class="col-sm-12 col-md-3">
                        <a href="admin-dashboard"><button type="button" class="btn btn-custom-primary-reverse" style="width: 80%">Dashboard</button></a>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <a href="admin-profile"><button type="button" class="btn btn-custom-primary-reverse" style="width: 80%">Profile</button></a>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <a href="admin-account"><button type="button" class="btn btn-custom-primary-reverse" style="width: 80%">Account</button></a>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <a href="admin-transaction"><button type="button" class="btn btn-custom" style="width: 80%">Transaction</button></a>
                    </div>
                </div>

                <!--Table-->
                <div class="table-responsive text-nowrap">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Hirer</th>
                                <th scope="col">Friend</th>
                                <th scope="col">Total price</th>
                                <th scope="col">State</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each transactions}}
                            <tr onclick="window.location='/login-admin/transaction-details/{{id}}';">
                                <th scope="row">{{id}}</th>
                                <td>{{User.name}}</td>
                                <td>{{Friend.User.name}}</td>
                                <td>{{totalprice}}</td>
                                <td>{{status}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>