<!--Info Part-->
<div class="container my-4">
    <div class="row">
        <div class="col-sm-12 col-md-4" style="border-right-style: solid; border-right-color: #58c9ef">
            <div class="text-center" style="background: white">
                <img class="img-thumbnail my-3" style="border-radius:10px" src="{{admin.imagepath}}" alt="avatar" width="200px">
                <div class="text-center mx-5 my-2" style=" border-style:solid; border-radius: 8px; background-color: white; border-color: #58c9ef; border-width: 1px ">
                    <div>Total accounts</div>
                    <div>{{totalAcc}}</div>
                </div>
                <div class="text-center mx-5 my-2" style=" border-style:solid; border-radius: 8px; background-color: white; border-color: #58c9ef; border-width: 1px ">
                    <div>Total FRIENDs</div>
                    <div>{{totalFriend}}</div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="container">
                <div class="row my-3">
                    <div class="col-sm-12 col-md-3">
                        <a href="admin-dashboard"><button type="button" class="btn btn-custom-primary-reverse" style="width: 80%">Dashboard</button></a>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <a href="admin-profile"><button type="button" class="btn btn-custom-primary-reverse" style="width: 80%">Profile</button></a>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <a href="admin-account"><button type="button" class="btn btn-custom" style="width: 80%">Account</button></a>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <a href="admin-transaction"><button type="button" class="btn btn-custom-primary-reverse" style="width: 80%">Transaction</button></a>
                    </div>
                </div>
                <!--Table-->
                <div class="table-responsive text-nowrap">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Gender</th>
                                <th scope="col">City</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Email</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each account}}
                            <tr>
                                <th scope="row">{{id}}</th>
                                <td>{{name}}</td>
                                <td>{{gender}}</td>
                                <td>{{city}}</td>
                                <td>{{phone}}</td>
                                <td>{{email}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
