<!--Info Part-->
<div class="container my-4">
    <div class="row">
        <div class="col-sm-12 col-md-4" style="border-right-style: solid; border-right-color: #58c9ef">
            <div class="text-center" style="background: white">
                <img class="img-thumbnail my-3" style="border-radius:10px" src="{{admin.imagepath}}" alt="avatar" width="200px">
            </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="container">
                <div class="row my-3">
                    <div class="col-sm-12 col-md-3">
                        <a href="admin-dashboard"><button type="button" class="btn btn-custom" style="width: 80%">Dashboard</button></a>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <a href="admin-profile"><button type="button" class="btn btn-custom-primary-reverse" style="width: 80%">Profile</button></a>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <a href="admin-account"><button type="button" class="btn btn-custom-primary-reverse" style="width: 80%">Account</button></a>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <a href="admin-transaction"><button type="button" class="btn btn-custom-primary-reverse" style="width: 80%">Transaction</button></a>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="card-deck mx-auto">
                                <div class="card border-custom" style="width: 9em">
                                    <div class="card-body bg-custom text-white text-center">
                                        <h4 class="card-title icon-dashboard"><i class="fa fa-user-plus"></i> <span class="px-3">{{totalAccount}}</span></h4>
                                    </div>

                                    <div class="card-footer">
                                        <p class="card-text"><b>Users</b></p>
                                    </div>
                                </div>

                                <div class="card border-custom" style="width: 9em">
                                    <div class="card-body bg-custom text-white text-center">
                                        <h4 class="card-title icon-dashboard"><i class="fa fa-file"></i><span class="px-3">{{totalTransactions}}</span></h4>
                                    </div>

                                    <div class="card-footer">
                                        <p class="card-text"><b>Transactions</b></p>
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>

                <div class="container py-3">
                    <h3 class="text-center"><b>Statitics</b></h3>
                    <div class="row">
                        <h5>Gender</h5>
                        <canvas id="gender-chart"></canvas>
                    </div>

                    <div class="row">
                        <h5>Users</h5>
                        <canvas id="users-chart"></canvas>
                    </div>

                    <div class="row">
                        <h5>Transaction</h5>
                        <canvas id="transaction-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
var date=new Date();
var firstdate=new Date(date.getFullYear(), date.getMonth()-1, 1);
var lastDay = new Date(date.getFullYear(), date.getMonth(), date.getDate());
var dateArray = getDates(firstdate.toISOString().substring(0, 10), lastDay.toISOString().substring(0, 10));
var dateArray1=new Array();
dateArray.forEach(element => {
    dateArray1.push(element.toISOString().substring(0, 10));
})
function getDates(startDate, stopDate) {
    var dateArray = new Array();
    var currentDate = new Date(startDate);
    currentDate.setDate(currentDate.getDate() + 1);
    while (currentDate <= new Date(stopDate)) {
        dateArray.push(new Date(currentDate));
        currentDate.setDate(currentDate.getDate() + 1);
    }
    return dateArray;
}  
</script>
<script>
//gender chart
var ctx = document.getElementById('gender-chart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'doughnut',

    // The data for our dataset
    data: {
        labels: ['Male', 'Female','LBGT',"Undefined"],
        datasets: [{
            backgroundColor: [
                'rgba(255, 173, 88, 0.5)',
                'rgba(88, 201, 239, 0.5)',
                'rgba(255,105,180,0.5)',
                'rgba(0,0,0,0.5)'
            ],
            data: [{{male}}, {{female}},{{lgbt}},{{null}}]
        }]
    },
    // Configuration options go here
    options: {}
})
</script>
<script>
//user chart
var ctx = document.getElementById('users-chart').getContext('2d');
    var chart = new Chart(ctx, {
        
            // The type of chart we want to create
            type: 'line',
            
            // The data for our dataset
            data: {
                labels: dateArray1,
                datasets: [{
                    label: 'Users',
                    backgroundColor: 'rgba(255, 173, 88, 0.5)',
                    borderColor: 'rgba(88, 201, 239, 0.5)',
                    data: [{{accounts}}]
                }]
            },
        
            // Configuration options go here
            options: {}
    });   
</script>

<script>
//user chart
var ctx = document.getElementById('transaction-chart').getContext('2d');
    var chart = new Chart(ctx, {
        
            // The type of chart we want to create
            type: 'line',
            
            // The data for our dataset
            data: {
                labels: dateArray1,
                datasets: [{
                    label: 'Transactions',
                    backgroundColor: 'rgba(255, 173, 88, 0.5)',
                    borderColor: 'rgba(88, 201, 239, 0.5)',
                    data: [{{transactions}}]
                }]
            },
        
            // Configuration options go here
            options: {}
    });   
</script>