<!--Info Part-->
<div class="container my-4">
    <div class="row">
        <div class="col-sm-12 col-md-4" style="border-right-style: solid; border-right-color: #58c9ef">
            <div class="text-center" style="background: white">
                <img class="img-thumbnail my-3" style="border-radius:10px" src="{{admin.imagepath}}" alt="avatar" width="200px">
                <div class="text-center mx-5 my-2" style=" border-style:solid; border-radius: 8px; background-color: white; border-color: #58c9ef; border-width: 1px ">
                    <div>Total transactions today</div>
                    <div>{{totalTransactions}}</div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="container">
                <div class="row my-3">
                    <div class="col-sm-12 col-md-3">
                        <p class="btn btn-custom">Transaction details</p>
                    </div>

                    <div class="col-sm-12 col-md-2">
                        <a href="/login-admin/admin-transaction"><button type="button" class="btn btn-custom-primary-reverse" style="width: 80%">Back</button></a>
                    </div>
                </div>

                {{#with transaction}}
                <div class="container">
                    <div class="form-group row">
                        <label for="transid" class="control-label col-sm-3"><b>ID:</b></label>
                        <div class="col-sm-9"><input type="text" class="form-control" id="transid" value="{{id}}" readonly></div>
                    </div>

                    <div class="form-group row">
                        <label for="datecreated" class="control-label col-sm-3"><b>Date created:</b></label>
                        <div class="col-sm-9"><input type="text" class="form-control" id="datecreated" value="{{createdAt}}" readonly></div>
                    </div>

                    <div class="form-group row">
                        <label for="hirer" class="control-label col-sm-3"><b>Hirer:</b></label>
                        <div class="col-sm-9"><input type="text" class="form-control" id="hirer" value="{{User.name}}" readonly></div>
                    </div>

                    <div class="form-group row">
                        <label for="friend" class="control-label col-sm-3"><b>FRIEND:</b></label>
                        <div class="col-sm-9"><input type="text" class="form-control" id="friend" value="{{Friend.User.name}}" readonly></div>
                    </div>

                    <div class="form-group row">
                        <label for="time" class="control-label col-sm-3"><b>Time (hour):</b></label>
                        <div class="col-sm-9"><input type="text" class="form-control" id="time" value="{{hours}}" readonly></div>
                    </div>

                    <div class="form-group row">
                        <label for="priceh" class="control-label col-sm-3"><b>Price/h:</b></label>
                        <div class="col-sm-9"><input type="text" class="form-control" id="priceh" value="{{Friend.price}}" readonly></div>
                    </div>

                    <div class="form-group row">
                        <label for="total" class="control-label col-sm-3"><b>Total:</b></label>
                        <div class="col-sm-9"><input type="text" class="form-control" id="total" value="{{totalprice}}" readonly></div>
                    </div>

                    <div class="form-group row">
                        <label for="state" class="control-label col-sm-3"><b>State:</b></label>
                        <div class="col-sm-9"><input type="text" class="form-control" id="state" value="{{status}}" readonly></div>
                    </div>
                </div>
                {{/with}}

            </div>
        </div>
    </div>
</div>