<!--Hot friends-->
    <div class="container py-3">
        <div>
            <h2 style="color: #58C9EF">HOT FRIENDS
                <a href="/" class="btn btn-sm btn-custom btn-refresh" role="button">
                    <img class="icon" src="../images/refresh.png" alt="refresh"> REFRESH
                </a>
            </h2>
        </div>
        <div class="row">
            {{#each users}}
            <div class="col col-md-3">
                <a href="friend-details/{{id}}">
                    <div class="card card-friend h-100">
                        <img class="card-img-top" src="{{imagepath}}" style="object-fit: cover" height="250px" alt="avatar">
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title" style="color:#58C9EF">{{name}}</h4>
                            <p class="card-text">{{Friend.description}}</p>
                            <p class="card-text mt-auto">
                                <img class="icon" src="../images/service.png" alt="service"> Hang out
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
    <!--Recent friends-->
    <div class="container py-3">
        <div>
            <h2 style="color: #58C9EF">RECENT FRIENDS
                <a href="/" class="btn btn-sm btn-custom btn-refresh" role="button">
                    <img class="icon" src="../images/refresh.png" alt="refresh"> REFRESH
                </a>
            </h2>

        </div>

        <div class="row">
            {{#each users}}
            <div class="col col-md-3">
                <a href="friend-details/{{Friend.UserId}}">
                    <div class="card card-friend h-100">
                        <img class="card-img-top" src="{{imagepath}}" style="object-fit: cover" height="250px" alt="avatar">
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title" style="color:#58C9EF">{{name}}</h4>
                            <p class="card-text">{{Friend.description}}</p>
                            <p class="card-text mt-auto">
                                <img class="icon" src="../images/service.png" alt="service"> Hang out
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
    <!--Page navigation-->
    <div class="container py-3 text-center">
        <a href="#" class="btn btn-sm btn-custom mx-2" role="button">Previous page</a>
        <a href="#" class="btn btn-sm btn-custom-reverse mx-2" role="button">1</a>
        <a href="#" class="btn btn-sm btn-custom mx-2" role="button">Next page</a>
    </div>