<!--Info Part-->
    <div class="container my-4">
        <div class="row">
            <div class="col-sm-12 col-md-3" style="border-right-style: solid; border-right-color: #58c9ef">
                <div class="text-center" style="background: white">
                    <img class="img-thumbnail my-3" style="border-radius:10px" src="{{friend.imagepath}}" alt="avatar">
                    <div class="text-center my-2">
                        <h4 id="friend-status"></h4>
                    </div>

                    <script>
                        if ('{{friend.Friend.status}}' == 'true') {
                            $('#friend-status').text('Ready');
                            $('#friend-status').css('color', '#1CCA00');
                        } else {
                            $('#friend-status').text('Busy');
                            $('#friend-status').css('color', 'red');
                        }      
                    </script>

                    <div class="text-center my-2">
                        <p>Date joined: {{friend.Friend.createdAt}}</p>
                    </div>
                    <div class="text-center my-2">
                        <i class="fa fa-facebook-square px-1" style="color: #3b5998; font-size: 3em"></i>
                        <i class="fa fa-youtube px-1" style="color: #e52d27; font-size: 3em"></i>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="container">
                    <div class="row py-3">
                        <h2><b>{{friend.name}}</b></h2>
                    </div>

                    <div class="row py-3">
                        <h4><b>DESCRIPTION</b></h4>
                    </div>

                    <div class="row px-3" style="border-bottom: 1px solid #58c9ef">
                        <p>{{friend.Friend.description}}</p>
                    </div>

                    <div class="row py-3">
                        <h4><b>DETAIL</b></h4>
                    </div>

                    <div class="row px-3" style="border-bottom: 1px solid #58c9ef">
                        <p>{{friend.Friend.detail}}</p>
                    </div>

                    <div class="row py-3">
                        <h4><b>REVIEWS</b></h4>
                    </div>

                    <div class="row">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row" style="float: left">
                                    <img src="/images/avatar.jpeg" alt="avatar" class="avatar-crop mx-2 my-2">
                                    <p><b>Love Grayson</b><br><span style="font-size: 0.5em">hh:mm:ss, dd/mm/yyyy</span></p>
                                </div>

                                <div style="float: right">
                                    5/5
                                </div>

                                <div style="clear: both">
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, blanditiis.</p>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row" style="float: left">
                                    <img src="/images/avatar.jpeg" alt="avatar" class="avatar-crop mx-2 my-2">
                                    <p><b>Love Grayson</b><br><span style="font-size: 0.5em">hh:mm:ss, dd/mm/yyyy</span></p>
                                </div>

                                <div style="float: right">
                                    5/5
                                </div>

                                <div style="clear: both">
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, blanditiis.</p>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row" style="float: left">
                                    <img src="/images/avatar.jpeg" alt="avatar" class="avatar-crop mx-2 my-2">
                                    <p><b>Love Grayson</b><br><span style="font-size: 0.5em">hh:mm:ss, dd/mm/yyyy</span></p>
                                </div>

                                <div style="float: right">
                                    5/5
                                </div>

                                <div style="clear: both">
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, blanditiis.</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-12" style="text-align: end"><input type="button" class="btn btn-custom" value="View more"></div>
                </div>
            </div>

            <div class="col-sm-12 col-md-3 py-3">
                <div class="px-3 py-3" style="box-shadow: 3px 3px 10px gray">
                    <h4>50.000 VNĐ</h4>
                    <p>5/5 (20 reviews)</p>
                    <input type="button" class="btn btn-custom col-sm-12" value="HIRE" style="font-size: 2em" data-toggle="modal" data-target="#modelId">
                </div>
            </div>
        </div>
    </div>